#table-operations {
	margin-bottom: 10px;
}

#add-student-operation {
	margin-top: 0px;
	margin-left: 10px;
	margin-bottom: -15px;
}

#current-page-number {
	font-weight: bold;
}

.my-col-operations {
	padding-left: 0px;
	padding-right: 0px;
}